// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.img {
    svg {
      margin: 0;
      width: 100%;
      height: auto;
    }
  
    img {
      margin: 0;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    position: relative;
  }
  
.nojs .img .lazyload {
display: none;
}



